In [1]:
import pandas as pd
import numpy as np

In [8]:
wide = pd.read_csv("../Transformación de Datos/Datasets/wide_sales.csv")

In [11]:
customers = pd.read_csv("../Transformación de Datos/Datasets/customers.csv")

In [2]:
transactions = pd.read_csv("../Transformación de Datos/Datasets/transactions.csv")
transactions

,transaction_id,customer_id,product_id,store_id,timestamp,ts_str,ts_tz,quantity,amount,amount_str,discount_pct,discount_str,payment_method,status,device,channel,hi_value_flag
0,1,258,35,2,2025-05-11 15:46:46,2025-05-11 15:46:46,2025-05-11T15:46:46-05:00,4,770.88,$770.88,5,5%,wallet,completed,ios,mobile,1
1,2,208,62,16,2024-01-20 10:14:03,2024/01/20 10:14,2024-01-20T10:14:03-05:00,4,954.78,$954.78,10,10%,transfer,pending,web,desktop,1
2,3,115,5,20,2024-07-09 05:06:54,09/07/2024 05:06,2024-07-09T05:06:54-05:00,4,711.32,$711.32,10,10%,card,completed,android,mobile,1
3,4,288,33,16,2024-04-18 09:10:31,2024-04-18 09:10:31,2024-04-18T09:10:31-05:00,4,2887.96,"$2,887.96",10,10%,card,completed,web,desktop,1
4,5,66,2,9,2025-06-09 14:35:33,2025-06-09T14:35:33,2025-06-09T14:35:33-05:00,1,2.82,$2.82,0,0%,card,completed,ios,mobile,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1496,136,37,13,2025-03-05 13:22:13,05-Mar-2025 13:22:13,2025-03-05T13:22:13-05:00,1,163.03,$163.03,0,0%,transfer,completed,android,mobile,0
1496,1497,17,56,18,2024-12-01 10:13:45,01/12/2024 10:13,2024-12-01T10:13:45-05:00,2,390.84,$390.84,5,5%,card,completed,android,mobile,0
1497,1498,88,75,9,2025-06-11 22:25:49,2025-06-11T22:25:49,2025-06-11T22:25:49-05:00,1,379.73,$379.73,5,5%,card,completed,android,mobile,0
1498,1499,209,52,20,2025-05-28 03:49:01,28-May-2025 03:49:01,2025-05-28T03:49:01-05:00,1,226.08,$226.08,0,0%,cash,completed,android,mobile,0
1499,1500,211,44,6,2024-03-07 13:27:14,2024-03-07T13:27:14,2024-03-07T13:27:14-05:00,5,1194.10,"$1,194.10",0,0%,card,completed,android,mobile,1

## Crosstab

In [4]:
pd.crosstab(transactions["payment_method"], transactions["status"])

status          completed  pending  refunded
payment_method
card                  685      125        32
cash                  238       41        15
transfer              179       26        13
wallet                124       17         5

In [5]:
pd.crosstab(transactions["device"], transactions["status"], normalize="index")

status   completed   pending  refunded
device
android   0.826303  0.138958  0.034739
ios       0.838196  0.122016  0.039788
web       0.801389  0.148611  0.050000

## Melt

In [10]:
wide

     entity_id region segment  spend_2025_01  spend_2025_02  spend_2025_03
0            1  North       B        1289.28         225.88        1738.86
1            2  South       B        1852.42        1918.31        1375.84
2            3   East       C         167.90        1606.82        1700.66
3            4   West       B        1556.78         856.79         575.76
4            5   West       A        1374.35        1966.55        1787.87
..         ...    ...     ...            ...            ...            ...
245        246  South       A        1585.99         863.52         654.33
246        247   East       C        1112.37        1883.83        1768.85
247        248   East       C        1287.16        1253.93         637.85
248        249  South       C        1977.36         400.94        1631.50
249        250  South       C         933.00        1054.08         497.82

[250 rows x 6 columns]

In [9]:
pd.melt(wide, id_vars=["entity_id","region","segment"],
        var_name="mes", value_name="spend")

     entity_id region segment            mes    spend
0            1  North       B  spend_2025_01  1289.28
1            2  South       B  spend_2025_01  1852.42
2            3   East       C  spend_2025_01   167.90
3            4   West       B  spend_2025_01  1556.78
4            5   West       A  spend_2025_01  1374.35
..         ...    ...     ...            ...      ...
745        246  South       A  spend_2025_03   654.33
746        247   East       C  spend_2025_03  1768.85
747        248   East       C  spend_2025_03   637.85
748        249  South       C  spend_2025_03  1631.50
749        250  South       C  spend_2025_03   497.82

[750 rows x 5 columns]

## .loc

In [13]:
customers.loc[customers["city"]=="Medellín", ["first_name","loyalty_tier"]]

    first_name loyalty_tier
8        Laura       Silver
13      Daniel       Bronze
21      Felipe       Bronze
24      Mónica       Bronze
26       Tomás         Gold
52        Luis       Bronze
57      Daniel       Bronze
70       Diana       Bronze
83        Sara       Silver
107      Diana       Bronze
123     Carlos         Gold
125      Sofía       Bronze
126      Paula         Gold
132     Mónica       Bronze
144      Tomás       Silver
147      María       Silver
153        Ana       Bronze
162      Tomás       Bronze
185      Lucía         Gold
187       Luis       Bronze
189      Laura         Gold
190     Felipe       Bronze
207     Miguel       Bronze
213       Juan         Gold
216      Sofía       Bronze
223     Felipe       Bronze
252     Felipe       Silver
261     Miguel       Bronze
270      Jorge       Silver
278        Ana       Bronze

## .query

In [15]:
transactions.query("amount > 500 and status == 'completed'")[["transaction_id", "amount"]]

      transaction_id   amount
0                  1   770.88
2                  3   711.32
3                  4  2887.96
6                  7   695.14
7                  8   857.59
...              ...      ...
1473            1474  3222.25
1474            1475   972.22
1491            1492   970.66
1493            1494   722.50
1499            1500  1194.10

[431 rows x 2 columns]

## np.where

In [17]:
transactions["segmento"] = np.where(transactions["amount"]>500,"ALTO","BAJO")
transactions["segmento"]

0       ALTO
1       ALTO
2       ALTO
3       ALTO
4       BAJO
        ...
1495    BAJO
1496    BAJO
1497    BAJO
1498    BAJO
1499    ALTO
Name: segmento, Length: 1500, dtype: object

## np.select

In [18]:
conds = [
    transactions["amount"] >= 1000,
    transactions["amount"].between(500,999),
    transactions["amount"] < 500
]
choices = ["PREMIUM","MEDIO","BASICO"]

transactions["categoria"] = np.select(conds, choices, default="OTRO")
transactions["categoria"]

0         MEDIO
1         MEDIO
2         MEDIO
3       PREMIUM
4        BASICO
         ...
1495     BASICO
1496     BASICO
1497     BASICO
1498     BASICO
1499    PREMIUM
Name: categoria, Length: 1500, dtype: object

## .assign

In [20]:
transactions = (
    transactions
    .assign(
        monto_usd = transactions["amount"] * 0.00025,
        is_mobile = transactions["device"].isin(["ios","android"])
    )
)
transactions["monto_usd"]

0       0.192720
1       0.238695
2       0.177830
3       0.721990
4       0.000705
          ...
1495    0.040758
1496    0.097710
1497    0.094933
1498    0.056520
1499    0.298525
Name: monto_usd, Length: 1500, dtype: float64